@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@font-face {
  font-family: "optibodoni-antiquaregular";
  src: url("../assets/optibodoni-antiqua-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  letter-spacing: 2rem;
}
body {
  font-family: "Source Serif Pro", serif;
  background-color: #f9f9f9;
}

header {
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  display: flex;
  /* padding: 0.5rem; */
  border: 2px solid;
}

h1 {
  height: 200px;
  width: 800px;
  color: #151414;
  /* padding-top: 50px; */
  font-family: "optibodoni-antiquaregular";
  font-size: 5rem;

  /* border: 2px solid; */
}

.bar {
  width: 35px;
  height: 3px;
  background-color: #151414;
  opacity: 80%;
  margin: 6px 0;
  transition: 0.4s;
}

.left-menu-container {
  /* border: 2px solid pink; */
  /* padding: 5px; */
}

.hamburger {
  padding: 15px;
  /* border: 2px solid pink; */
  height: 2.2rem;
  width: 2.2rem;
  margin-bottom: 40px;
}

.social-media {
  width: 500px;
  display: flex;
  justify-content: space-around;
  /* border: solid 2px pink; */
}

.sidebar-div {
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  line-height: 80px;
  color: #151414;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 30px;

  /* border: 2px solid pink; */
  visibility: hidden;
}
.show-menu {
  visibility: unset;
}

.form-control {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 420px;
  line-height: 30px;
  font-size: 18px;
  visibility: hidden;
}
.show-message {
  visibility: unset;
}
label {
  margin-top: 10px;
}

input {
  height: 50px;
  z-index: 0;
  /* border-radius: 3px; */
}

.message-submit {
  margin-top: 15px;
  height: 60px;
  font-size: 18px;
  color: #f9f9f9;
  background-color: #151414;
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
}

.message-submit:hover {
  border: 1px solid #151414;
  color: #f9f9f9;
  background-color: #2e2e2e;
}

a:link,
a:visited {
  color: #151414;

  text-decoration: none;
  text-transform: uppercase;
}

.left-arrow {
  margin-top: 400px;
  margin-right: 300px;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
}

.right-arrow {
  margin-top: 400px;
  margin-left: 300px;
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: black transparent transparent black;
  transform: rotate(-225deg);
  /* border: 10px solid pink; */
}
.image-container {
  display: flex;
  justify-content: center;
}

#img-div {
  margin-left: 800px;
  background-size: cover;
  display: flex;
  justify-content: center;
  object-fit: contain;
  height: 1000px;
  width: 900px;
  margin-left: 650px;
  margin-right: 650px;
  margin-bottom: 200px;

  /* border: 0.1px solid white; */
}

img {
  width: auto;
  height: 800px;
  object-fit: cover;
  border-radius: 3px;
}
.description {
  display: flex;
  justify-content: center;
}

.newsletter-response {
  visibility: hidden;
}
